.navbar {
  background: #387538;
  height: 10rem;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
}

.nav-li {
  list-style-type: none;
  text-decoration: none;
  color: #2aff26;
}

.logo {
  margin-right: 20rem;
}

.nav-li:hover {
  color: #111111;
}
