.about-us {
  height: 54rem;
  background: #524f81 ;
}

.about {
  color: #fff;
  font-size: 10rem;
  width: 65rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.about-p {
  color: #fff;
  font-size: 2rem;
  text-transform: none;
  width: 80rem;
  margin-top: 2rem;
}

.left {
  font-size: 9rem;
  margin-right: 40rem;
  padding: 0;
  margin-bottom: 0;
}

.right {
  font-size: 9rem;
  margin: 0;
  padding: 0;
}