.know-more-btn {
  background: #928ddf;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: none;
  padding: 1rem 4rem;
  margin-top: 4rem;
  border-radius: 0.3rem;
}

.know-more-btn:hover {
  background-color: #c3b1e1;
  color: #111111;
}
